/* 全局設置 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
    overflow: hidden;
}

/* 视频容器样式 */
.video-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: auto;
}

/* 图片容器样式 */
.image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stepsImage {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* 轮盘容器样式 */
#wheel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#spinButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 媒体查询 */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 10px;
    }

    .video-container,
    .image-container {
        width: 100%;
    }

    video,
    #stepsImage {
        width: 100%;
        height: auto;
    }

    #spinButton {
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
    }
}

/* 适应 360x640 尺寸的媒体查询 */
@media (max-width: 360px) {
    body {
        flex-direction: column;
        padding: 5px;
    }

    .video-container,
    .image-container {
        width: 100%;
        height: auto;
    }

    video,
    #stepsImage {
        width: 100%;
        height: auto;
    }

    #spinButton {
        width: 100%;
        padding: 8px 0;
        font-size: 14px;
    }
}
